*{
    margin: 0;
    padding:0;
    box-sizing: border-box;


}

header{
    height: 15vh;
    background-color: white;
    display: flex;
    font-size: 12px;  

} 
   
.logo{
    max-width: 50%;
    text-align: left;
    
} 
img{
    width: 76%;
}
.lista{
    display: flex; 
    padding: 30px;
    color: rgb(43, 1, 125);
    
     
}
li{
    margin: 5px;
    width: 30%;
    list-style: none;
    justify-content: center;
    text-align: center;
    
}



.imagen{
    height: 65vh;
    background-color: blueviolet;
    display: flex;
  
    
}

img{
    width: 100%;
    display: flex;
}
article{
   
    text-align: right;
    height: 65vh;
    width: 40%;
    
    
}
.derecha{
    height: 75vh;
    width: 100%;
}
nav{
    height: 10vh;
    background-color: rgba(24, 43, 249, 0.925);
    width: 72%;
    color: white;
    
    
}


.opciones{
    display: flex;
   
    

    
}
li{
    text-align: left;
    margin: 12px;
    
   
    
}


footer{
   
    height: 10vh;
    background-color: white;
    font-size: 10px;
    display: flex;
    
    
}

.blan1{
    color: white;
}  
.opc2{
    display: flex;
    
}


a{
    text-decoration: none;
    color: dimgray;
   
}

